{% load static %}

<section class="comment-list block slim-scroll" data-height="430px"
    {% if comments.count >= 3 %} style="overflow: scroll; width: auto; height: 450px;"{% endif %}>
    
    <!-- comment form -->
    <article class="comment-item media m-t-md m-b-md" id="comment-form">
        <a class="pull-left thumb-sm avatar">
            <img src="{% static 'images/raw/avatar/avatar.jpg' %}" class="img-rounded">
        </a>
        
        <section class="media-body">
            <form action="{% url 'contribution:comment_create' slug=object.slug %}" method="POST" class="m-b-none" id="comment_form">
                {% csrf_token %}
                <div class="">
                    <input type="hidden" name="comment_area" value="nested_comment">
                    <textarea class="form-control" name="comment" rows="3" id="comment"></textarea>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-raised ripple-effect m-t-sm" id="comment-btn">
                            Comment
                        </button>
                    </span>
                </div>
            </form>
        </section>
    </article>
    <!-- /comment form -->

    {% for comment in comments %}
    {% if comment.commented_by == request.user.profile %}
    <article id="comment-id-1" class="comment-item">
        <a class="pull-left thumb-sm">
            <img src="{% static 'images/raw/avatar/avatar.jpg' %}" class="img-rounded">
        </a>
        <section class="comment-body m-b">
            <header>
                <strong>{{ comment.commented_by.get_smallname }}</strong>
                <label class="label bg-success m-l-xs">
                    You
                </label>
                <span class="text-muted text-xs block m-t-xs">
                    {{ comment.created_at|timesince }} ago
                </span>
            </header>
            <div class="m-t-sm">{{ comment.comment|safe|linebreaks }}</div>
        </section>
    </article>
    {% else %}
    <!-- .comment-reply -->
    <article id="comment-id-2" class="comment-item comment-reply">
        <a class="pull-left thumb-sm">
            <img src="{% static 'images/raw/avatar/avatar.jpg' %}" class="img-rounded">
        </a>
        <section class="comment-body m-b">
            <header>
                <strong>{{ comment.commented_by.get_smallname }}</strong>
                <label class="label bg-dark m-l-xs">
                    {{ comment.commented_by.get_role }}
                </label>
                <span class="text-muted text-xs block m-t-xs">
                    {{ comment.created_at|timesince }} ago
                </span>
            </header>
            <div class="m-t-sm">
                {{ comment.comment|safe|linebreaks }}
            </div>
        </section>
    </article>
    {% endif %}
    <!-- / .comment-reply -->
    {% empty %}
    <div class="text-center">
        <label class="label bg-dark m-l-xs">Not Commented yet!</label>
    </div>
    {% endfor %}

</section>