{% load tags %}
{% if request.user.is_authenticated %}

{% is_MM_tag as is_MM %}
{% is_AD_tag as is_AD %}
{% is_MC_tag as is_MC %}
{% is_FG_tag as is_FG %}
{% is_ST_tag as is_ST %}
{% get_schedule_tag as get_schedule %}
{% get_announcement_tag as get_announcement %}

{% endif %}

<!DOCTYPE html>
<html lang="en" class="app">

  <head>
    <!-- meta tags -->
    {% include "snippets/meta_tags.html" %}
    <title>
      {% block head_title %}magFetch{% endblock %} | magFetch Magazine Collection Management System |
    </title>
    <!-- css files -->

    {% include "snippets/css.html" %}


  </head>

  <body>
    {% if is_ST %}
    {% include 'base-keeper/landing-base-keeper.html' %}
    {% else %}
    {% include 'base-keeper/base-keeper.html' %}
    {% endif %}



    <!-- javascript files -->
    {% include "snippets/js.html" %}
 

  </body>

</html>