{% load tags %}
{% if request.user.is_authenticated %}

{% is_MM_tag as is_MM %}
{% is_AD_tag as is_AD %}
{% is_MC_tag as is_MC %}
{% is_FG_tag as is_FG %}
{% is_ST_tag as is_ST %}
{% get_schedule_tag as get_schedule %}
{% get_announcement_tag as get_announcement %}

{% endif %}

<!DOCTYPE html>
<html lang="en" class="app">

  <head>
    <!-- meta tags -->
    {% include "snippets/meta_tags.html" %}
    <title>
      {% block head_title %}magFetch{% endblock %} | magFetch Magazine Collection Management System |
    </title>
    <!-- css files -->
    {% if is_ST %}
    {% include "landing/css.html" %}
    {% else %}
    {% include "snippets/css.html" %}
    {% endif %}
  </head>

  <body>


    <section class="vbox">
      {% include 'snippets/header.html' %}
      <section>
        <section class="hbox stretch">
          <!-- .aside -->
          {% include 'snippets/sidebar.html' %}
          <section id="content">
            <section class="vbox">
              <section class="scrollable padder m-b-lg">
                <!-- .breadcrumb -->
                <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                  <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                  <li class="active">
                    {% block breadcrumb %}{% endblock %}
                  </li>
                </ul>
                <!-- .page-title -->
                <div class="m-b-md">
                  <h3 class="m-b-none">
                    {% block page_title %}{% endblock %}
                  </h3>
                </div>
                <!-- development-notice -->
                {% include 'snippets/notice.html' %}
                <!-- messages -->
                {% include 'snippets/messages.html' %}
                <!-- main content -->
                {% block content %}{% endblock %}
              </section>
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
          </section>
          <aside class="bg-light lter b-l aside-md hide" id="notes">
            <div class="wrapper">Notification</div>
          </aside>
        </section>
      </section>
    </section>



    {% if is_ST %}
    <!-- footer -->
    {% include 'landing/footer.html' %}
    <!-- javascript files -->
    {% include "landing/js.html" %}
    {% else %}
    <!-- javascript files -->
    {% include "snippets/js.html" %}
    {% endif %}


  </body>

</html>