{% load static %}
{% url 'home' as home_url %}
{% url 'account_logout' as logout_url %}
<header id="header" class="navbar navbar-fixed-top bg-white box-shadow b-b b-light" data-spy="affix" data-offset-top="1">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ home_url }}" class="navbar-brand">
                <img src="{% static 'images/icon/icon.png' %}" class="m-r-sm">
                <span class="text-muted">magFetch</span>
            </a>
            <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        
    </div>
</header>