{% load static %}
<!-- Bootstrap -->
<script src="{% static 'js/md.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script> -->
<script src="{% static 'js/bootstrap/popper.js' %}"></script>
<!-- <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script> -->
<!-- Bootstrap Notify -->
<script src="{% static 'vendor/notify/bootstrap-notify.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<!-- <script src="{% static 'js/app.plugin.js' %}"></script> -->
<!-- <script src="{% static 'js/slimscroll/jquery.slimscroll.min.js' %}"></script> -->
<!-- <script src="{% static 'js/appear/jquery.appear.js' %}"></script> -->
<!-- <script src="{% static 'js/scroll/smoothscroll.js' %}"></script> -->
<!-- <script src="{% static 'js/landing.js' %}"></script> -->
