{% extends 'base.html' %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Notification Details
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<article id="comment-id-1" class="comment-item">
    <span class="pull-left thumb-sm m-t-sm m-l-sm">
        <i class="fa fa-eye font-25"></i>
    </span>
    <span class="arrow left"></span>
    <section class="comment-body panel panel-default">
        <header class="panel-heading bg-white">
            <strong class="h4">
                {{ object.subject }}
            </strong>
            <label class="label bg-info m-l-xs">
                <i>from: </i>
                <span class="text-dark">{{ object.sender.user.profile.get_smallname }}</span>
            </label>
            <span class="text-muted m-l-sm pull-right">
                <i class="fa fa-clock-o"></i>
                {{ object.updated_at|timesince }} ago
            </span>
        </header>
        <div class="panel-body">
            <div>
                {{ object.message|safe|linebreaks }}
            </div>
        </div>
    </section>
</article>

{% endblock %}