{% load static %}
{% url 'home' as home_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_login' as login_url %}
{% url 'account_logout' as logout_url %}

<header class="bg-dark dk header navbar navbar-fixed-top-xs">
    <div class="navbar-header aside-md">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
            <i class="fa fa-bars"></i>
        </a>
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'images/icon/icon.png' %}" class="m-r-sm">
            magFetch
        </a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
            <i class="fa fa-cog"></i>
        </a>
    </div>
    
    {% include 'snippets/chunks/header-left.html' %}

    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
        <li class="hidden-xs">
            {% include 'snippets/chunks/notification.html' %}
        </li>
        <li class="dropdown hidden-xs">
            {% include 'snippets/chunks/search.html' %}
        </li>
        {% if not request.user.is_authenticated %}
        <li class="dropdown hidden-xs">
            <a href="{{ signup_url }}" class="btn btn-primary btn-xs">
                <i class="fa fa-plus-circle"></i> Signup
            </a>
        </li>
        <li class="dropdown hidden-xs">
            <a href="{{ login_url }}" class="btn btn-success btn-xs">
                <i class="fa fa-location-arrow"></i> Login
            </a>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-left">
                    <img src="{% static 'images/raw/avatar/avatar.jpg' %}">
                </span>
                {{ user.profile.get_smallname|truncatechars_html:15 }}
            </a>
            <ul class="dropdown-menu animated fadeInRight">
                <span class="arrow top"></span>
                {% if not user.profile.role == None %}
                <li class="text-center">
                    <i>
                        Role: 
                        <p class="text-info">
                            tt
                        </p>
                        
                        {% if not user.profile.faculty == None %}
                        <br> Faculty:
                        <p class="text-primary">
                            {{ user.profile.faculty.title }}
                        </p>
                        {% endif %}
                    </i>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'account_change_password' %}">
                        <i class="fa fa-edit"></i> Change Password
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_email' %}">
                        <i class="fa fa-edit"></i> Manage Account Email
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ logout_url }}">Logout</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
</header>