{% load static %}

<!-- Bootstrap -->
<script src="{% static 'js/md.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script> -->
<script src="{% static 'js/bootstrap/popper.js' %}"></script>
<!-- <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script> -->
<!-- Bootstrap Notify -->
<script src="{% static 'vendor/notify/bootstrap-notify.js' %}"></script>
<!-- datetimepicker -->
<!-- https://www.thecodedeveloper.com/add-datetimepicker-jquery-plugin/ -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker/jquery.datetimepicker.min.css' %}"/>
<script src="{% static 'vendor/datetimepicker/jquery.datetimepicker.js' %}"></script>
<!-- App -->
<script src="{% static 'js/app.js' %}"></script>
<!-- <script src="{% static 'js/app.plugin.js' %}"></script> -->
<!-- <script src="{% static 'js/slimscroll/jquery.slimscroll.min.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/easypiechart/jquery.easy-pie-chart.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/sparkline/jquery.sparkline.min.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/flot/jquery.flot.min.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/flot/jquery.flot.tooltip.min.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/flot/jquery.flot.resize.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/flot/jquery.flot.grow.js' %}"></script> -->
<!-- <script src="{% static 'js/charts/flot/demo.js' %}"></script> -->

<!-- <script src="{% static 'js/calendar/bootstrap_calendar.js' %}"></script> -->
<!-- <script src="{% static 'js/calendar/demo.js' %}"></script> -->

<!-- <script src="{% static 'js/sortable/jquery.sortable.js' %}"></script> -->
