<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="magfetch, magazine, management system, university, app, web app, responsive" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
<meta name="copyright" content="magfetch.herokuapp.com">
<meta name="keywords" content="magfetch, management system, Numan Ibn Mazid, Numan, Bangladesh, BD, com, org, domain, google, linkedin, Numan, Law firm, Youtube, magfetch, magfetch.com, herokuapp, python, django, magazine, company">
<meta name="author" content="Numan Ibn Mazid">
<!-- <meta http-equiv="cache-control" content="no-cache" />
<meta name="robots" content="noindex,nofollow">
<meta http-equiv="refresh" content="777">
<meta property="og:type" content="magfetch" />
<meta property="og:url" content="https://magfetch.herokuapp.com/" />
<meta property="og:title" content="magFetch" />
<meta property="og:site_name" content="magFetch" />
<meta property="og:image" content="https://magfetch.herokuapp.com/static/images/icon/icon.png" />
<meta name="referrer" content="origin-when-crossorigin"> -->
<!-- This Force to Browse in HTTPS Mode -->
<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->