{% extends 'landing-base.html' %}
{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Contribution Detail
{% endblock %}{% endblock %}{% endblock %}

{% block content %}



<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold text-center">Contribution Detail</header>
            <div class="panel-body">
                <h1>DETAIL</h1>
            </div>
        </section>
    </div>
</div>


{% endblock %}