{% load static %}

<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'vendor/datatable/dataTables.min.css' %}" type="text/css" />

<div class="table-responsive">
    <table id="{{ dynamic_datatable }}" class="table table-bordered datatable row-border b-t b-light" style="width:100%">
        <thead class="text-dark">
            <tr class="text-center">
                <th width='5%'>#</th>
                <th width='20%'>Contributor</th>
                <th width='30%'>Title</th>
                <th width='40%'>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for object in dynamic_variable %}
            <tr {% if object.is_selected == True %}class="bg-c-soft-green" {% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>
                    <span class="thumb-sm avatar pull-left">
                        <img src="{% static 'images/raw/avatar/avatar.jpg' %}">
                    </span>
                    {{object.user.get_smallname}}
                </td>
                <td>{{object.title|truncatechars:15}}</td>
                <td>
                    <a class="btn btn-xs btn-raised ripple-effect btn-info"
                        href="{% url 'contribution:contribution_detail' slug=object.slug %}">
                        <span class="c-text-dark">View</span>
                    </a>
                    {% if not is_FG %}
                    <!-- ------------- CHANGE PORTION FOR PRODUCTION MODE ------------ -->
                    <a class="btn btn-xs btn-raised ripple-effect btn-default"
                        href="http://magfetch.pythonanywhere.com{{object.file.url}}" download>
                        <span class="c-text-dark">Download</span>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Datatable JS -->
<script>
$(document).ready(function () {
    $('#{{ dynamic_datatable }}').DataTable({
        "pagingType": "full_numbers",
        "scrollY": "33vh",
        "scrollX": true,
        "scrollCollapse": true,
        "paging": true,
        "searching": true,
        "ordering": false,
        "info": true,
        "language": {
            "lengthMenu": "Show _MENU_ records per page",
            "zeroRecords": "Nothing found - sorry",
            "info": "Showing page _PAGE_ of _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
});
</script>
<script src="{% static 'vendor/datatable/dataTables.min.js' %}"></script>
