{% extends 'base.html' %}
{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
All Contributions [{{faculty}}]
{% endblock %}{% endblock %}{% endblock %}
{% block content %}


<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'vendor/datatable/dataTables.min.css' %}" type="text/css" />

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div id="zip_div" class="text-center">
            <div class="text-center" id="zip_btn_div">
                <button id="download_btn" class="hide btn btn-md btn-dark btn-raised ripple-effect">
                    <span class="c-text-info">Download Files as Zip</span>
                </button> <br>
                <button id="cancel_btn" class="hide btn btn-xs btn-danger m-t-sm btn-raised ripple-effect" onClick="window.location.reload()">
                    <span class="">Cancel</span>
                </button>
            </div>
            <!-- Zip Download progress and Result -->
            <div class="progress hide" id="progress_bar">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    style="width: 0%;">
                </div>
            </div>
            <p class="hide" id="result"></p>
            <button id="clear_btn" class="hide btn btn-sm btn-danger btn-raised ripple-effect" onClick="window.location.reload()">
                <span class="c-text-dark">Clear</span>
            </button>
            <input type="hidden" id="zip-name" name="zip-name" value="{{ faculty_code }}">
            <!-- Zip Download progress and Result -->
        </div>

        {% if object_list.count >= 1 %}
        <div class="table-responsive">
            <table id="datatable" class="table table-bordered row-border b-t b-light" style="width:100%">
                <thead class="text-dark">
                    <tr class="text-center">
                        <th width="3%">
                            <span id="check-all">
                                <i class="fa fa-square" id="dflt"></i>
                                <i class="fa fa-check-square hide" id="chkd"></i>
                                <i class="fa fa-square hide" id="uchkd"></i>
                            </span>
                        </th>
                        <th width="2%">#</th>
                        <th width="5%">User</th>
                        <th width="10%">Title</th>
                        <th width="2%">Type</th>
                        <th width="5%">Category</th>
                        <th width="10%">Comment</th>
                        <th width="20%">Selection</th>
                        <th width="33%">
                            Actions
                        </th>
                        <th width="10%">Uploaded</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for object in object_list %}
                    <tr {% if object.is_selected == True %}class="bg-c-soft-green" {% endif %}>
                        <td>
                            <div>
                                <!-- ------------- CHANGE PORTION FOR PRODUCTION MODE ------------ -->
                                <input type="checkbox" class="check-box m-t-sm" data-url="https://magfetch.pythonanywhere.com{{object.file.url}}">
                                <!-- <input type="checkbox" class="check-box" data-url="https://127.0.0.1:8000{{object.file.url}}"> -->
                            </div>
                        </td>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <!-- <span class="thumb-sm avatar pull-left">
                                <img src="{% static 'images/raw/avatar/avatar.jpg' %}">
                            </span> -->
                            <span class="c-text-primary">{{object.user.get_smallname}}</span>
                        </td>
                        <td>{{object.title|truncatechars:15}}</td>
                        <td>
                            {% if object.category.get_file_type == "DOCUMENT" %}
                            Doc
                            {% endif %}
                            {% if object.category.get_file_type == "IMAGE" %}
                            Img
                            {% endif %}
                        </td>
                        <td>{{object.category|truncatechars:20}}</td>
                        <td>
                            {% if object.is_commented == True %}
                            <span class="badge bg-success font-10">Commented</span>
                            {% else %}
                            <span class="badge bg-danger font-10">Not Commented</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if object.is_selected == False %}
                                {% if object.is_commented == False %}
                                <button type="button" class="btn btn-xs btn-dark btn-raised ripple-effect cmnt-dflt-btn"
                                    value="{{object.slug}}" data-toggle="modal" data-target="#modal-comment-default">
                                    Mark as Selected
                                </button>
                                {% else %}
                                <a href="{% url 'contribution:contribution_selected' slug=object.slug %}" id="select-con"
                                    class="btn btn-xs btn-dark btn-raised ripple-effect" data-url="{{ object.slug }}">
                                    <span class="">Mark as Selected</span>
                                </a>
                                {% endif %}
                            {% else %}
                            <a href="{% url 'contribution:contribution_unselected' slug=object.slug %}"
                                id="unselect-con" class="btn btn-xs btn-danger btn-raised ripple-effect">
                                <span class="c-text-dark c-bg-danger">Remove from Selected</span>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-xs btn-raised ripple-effect btn-info"
                                href="{% url 'contribution:contribution_detail' slug=object.slug %}">
                                <span class="c-text-dark">View</span>
                            </a>
                            <!-- <a class="btn btn-xs btn-raised ripple-effect btn-default"
                                href="https://127.0.0.1:8000{{object.file.url}}" download>
                                <span class="c-text-dark">Download</span>
                            </a> -->
                            <!-- ------------- CHANGE PORTION FOR PRODUCTION MODE ------------ -->
                            <a class="btn btn-xs btn-raised ripple-effect btn-default"
                                href="https://magfetch.pythonanywhere.com{{object.file.url}}" download>
                                <span class="c-text-dark">Download</span>
                            </a>

                            {% for comment in object.user_contribution_file.all reversed %}
                                {% if forloop.last %}
                                    {% if not comment.commented_by == request.user.profile %}
                                    <a class="btn btn-xs btn-raised ripple-effect btn-warning"
                                        href="{% url 'contribution:comment_view' slug=object.slug %}">
                                        <span class="c-text-dark">Reply</span>
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                            <a class="btn btn-xs btn-raised ripple-effect btn-primary"
                                href="{% url 'contribution:comment_view' slug=object.slug %}">
                                <span class="c-text-dark">Comment</span>
                            </a>
                            {% endfor %}
                        </td>
                        <td>
                            <small class="text-muted">
                                <span class="c-text-dark">{{ object.created_at|timesince }}</span> ago
                            </small>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning text-center">
            <strong>There's no contribution available!!!</strong>
        </div>
        {% endif %}
    </div>
</div>

{% include 'contribution/snippets/modals.html' %}

<script>
    $(".cmnt-dflt-btn").click(function () {
        let contribution_slug = this.value;
        // $('#contribution_slug_modal2').val(contribution_slug);
        let domain = document.location.origin;
        let url = domain + "/contribution/" + contribution_slug + "/mark/selected/";
        // alert(url);
        $('#default-comment-form').attr("action", url);
        $('#skip-comment').attr("href", url);
        // $('#test_btn').attr("value", url);
        // $('#dflt-cmnt-mdl').html($('#dflt-cmnt-mdl').html().replace(/jquerySlugUrl/g, url));
    });
    document.querySelector('#default-comment-form').addEventListener('submit', function (e) {
        let form = this;
        e.preventDefault();
        form.submit();

    });
</script>


<!-- Datatable JS -->
<script src="{% static 'vendor/datatable/datatable-conf.js' %}"></script>
<script src="{% static 'vendor/datatable/dataTables.min.js' %}"></script>

<!-- Zip Downloader JS -->
<script src="{% static 'vendor/zip-downloader/jszip.min.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/jszip-utils.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/zip-config.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/FileSaver.js' %}"></script>

{% endblock %}