{% load static %}

<!-- Datatable CSS -->
<link rel="stylesheet" href="{% static 'vendor/datatable/dataTables.min.css' %}" type="text/css" />

<div id="zip_div" class="text-center">
    <div class="text-center" id="zip_btn_div">
        <button id="download_btn" class="hide btn btn-md btn-dark btn-raised ripple-effect">
            <span class="c-text-info">Download Files as Zip</span>
        </button> <br>
        <button id="cancel_btn" class="hide btn btn-xs btn-danger m-t-sm btn-raised ripple-effect"
            onClick="window.location.reload()">
            <span class="">Cancel</span>
        </button>
    </div>
    <!-- Zip Download progress and Result -->
    <div class="progress hide" id="progress_bar">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
            style="width: 0%;">
        </div>
    </div>
    <p class="hide" id="result"></p>
    <button id="clear_btn" class="hide btn btn-sm btn-danger btn-raised ripple-effect"
        onClick="window.location.reload()">
        <span class="c-text-dark">Clear</span>
    </button>
    <input type="hidden" id="zip-name" name="zip-name" value="{{ request.user.profile.get_smallname }}">
    <!-- Zip Download progress and Result -->
</div>

<div class="table-responsive">
    <table id="{{ dynamic_datatable }}" class="table table-bordered datatable row-border b-t b-light" style="width:100%">
        <thead class="text-dark">
            <tr class="text-center">
                <th width='5%'>
                    <span id="check-all">
                        <i class="fa fa-square" id="dflt"></i>
                        <i class="fa fa-check-square hide" id="chkd"></i>
                        <i class="fa fa-square hide" id="uchkd"></i>
                    </span>
                </th>
                <th width='5%'>#</th>
                <th width='20%'>Uploader</th>
                <th width='30%'>Title</th>
                <th width='40%'>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for object in dynamic_variable %}
            <tr {% if object.is_selected == True %}class="bg-c-soft-green" {% endif %}>
                <td>
                    <div>
                        <!-- ------------- CHANGE PORTION FOR PRODUCTION MODE ------------ -->
                        <input type="checkbox" class="check-box m-t-sm" data-url="http://magfetch.pythonanywhere.com{{object.file.url}}">
                    </div>
                </td>
                <td>{{ forloop.counter }}</td>
                <td>
                    <span class="thumb-sm avatar pull-left">
                        <img src="{% static 'images/raw/avatar/avatar.jpg' %}">
                    </span>
                    {{object.user.get_smallname}}
                </td>
                <td>{{object.title|truncatechars:15}}</td>
                <td>
                    <a class="btn btn-xs btn-raised ripple-effect btn-info"
                        href="{% url 'contribution:contribution_detail' slug=object.slug %}">
                        <span class="c-text-dark">View</span>
                    </a>
                    <!-- ------------- CHANGE PORTION FOR PRODUCTION MODE ------------ -->
                    <a class="btn btn-xs btn-raised ripple-effect btn-default"
                        href="http://magfetch.pythonanywhere.com{{object.file.url}}" download>
                        <span class="c-text-dark">Download</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Datatable JS -->
<script>
$(document).ready(function () {
    $('#{{ dynamic_datatable }}').DataTable({
        "pagingType": "full_numbers",
        "scrollY": "23vh",
        "scrollX": true,
        "scrollCollapse": true,
        "paging": true,
        "searching": true,
        "ordering": false,
        "info": true,
        "language": {
            "lengthMenu": "Show _MENU_ records per page",
            "zeroRecords": "Nothing found - sorry",
            "info": "Showing page _PAGE_ of _PAGES_",
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
        }
    });
});
</script>
<script src="{% static 'vendor/datatable/dataTables.min.js' %}"></script>

<!-- Zip Downloader JS -->
<script src="{% static 'vendor/zip-downloader/jszip.min.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/jszip-utils.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/zip-config.js' %}"></script>
<script src="{% static 'vendor/zip-downloader/FileSaver.js' %}"></script>