.font-10{
  font-size: 10px;
}
.font-15{
  font-size: 15px;
}
.font-20{
  font-size: 20px;
}
.font-25{
  font-size: 25px;
}
.font-30{
  font-size: 30px;
}
.font-35{
  font-size: 35px;
}
.font-40{
  font-size: 40px;
}

.navbar-brand {
    color: #48A75B !important;
}

.navbar-brand:hover {
    color: #96caa0 !important;
}

.alert-error{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    font-weight: 700;
    color: darkslategray;
    font-style: italic;
}

.help-text{
    font-size: 11px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(16, 22, 71) !important;
    margin-top: 2px !important;
}

input[type="date"] {
    line-height: 100% !important;
}

.c-text-primary{
  color: #1F6DBC;
}

.c-text-secondary{
  color: #646B71;
}

.c-text-dark{
  color: #000001;
}

.c-text-info{
  color: #1DAFC6;
}

.c-text-success{
  color: #1BBD5C;
}

.c-text-warning{
  color: #AC780F;
}

.c-text-danger{
  color: #BC1F1F;
}

#notification{
  height: 315px !important;
  overflow: scroll !important;
}

.list-img{
  height: 30% !important;
  width: 60% !important;
}