<div class="row">
  <div class="col-lg-8">
    <div class="row">
      <div class="col-sm-6">
        <section class="panel panel-default">
          <header class="panel-heading bg-danger lt no-border">
            <div class="clearfix">
              <a href="#" class="pull-left thumb avatar b-3x m-r">
                <img src="images/avatar.jpg" class="img-circle">
              </a>
              <div class="clear">
                <div class="h3 m-t-xs m-b-xs text-white">
                  John.Smith
                  <i class="fa fa-circle text-white pull-right text-xs m-t-sm"></i>
                </div>
                <small class="text-muted">Art director</small>
              </div>
            </div>
          </header>
          <div class="list-group no-radius alt">
            <a class="list-group-item" href="#">
              <span class="badge bg-success">25</span>
              <i class="fa fa-comment icon-muted"></i>
              Messages
            </a>
            <a class="list-group-item" href="#">
              <span class="badge bg-info">16</span>
              <i class="fa fa-envelope icon-muted"></i>
              Inbox
            </a>
            <a class="list-group-item" href="#">
              <span class="badge bg-light">5</span>
              <i class="fa fa-eye icon-muted"></i>
              Profile visits
            </a>
          </div>
        </section>
        <section class="panel panel-info">
          <div class="panel-body">
            <a href="#" class="thumb pull-right m-l">
              <img src="images/avatar.jpg" class="img-circle">
            </a>
            <div class="clear">
              <a href="#" class="text-info">@Mike Mcalidek <i class="icon-twitter"></i></a>
              <small class="block text-muted">2,415 followers / 225 tweets</small>
              <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-6">
        <section class="panel panel-default">
          <div class="text-center wrapper bg-light lt">
            <div class="sparkline inline" data-type="pie" data-height="165" data-slice-colors="['#77c587','#41586e','#f2f2f2']">45000,23200,15000</div>
          </div>
          <ul class="list-group no-radius">
            <li class="list-group-item">
              <span class="pull-right">45,000</span>
              <span class="label bg-primary">1</span>
              .inc company
            </li>
            <li class="list-group-item">
              <span class="pull-right">23,200</span>
              <span class="label bg-dark">2</span>
              Gamecorp
            </li>
            <li class="list-group-item">
              <span class="pull-right">15,000</span>
              <span class="label bg-light">3</span>
              Neosoft company
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <section class="panel panel-default">
      <div class="panel-body">
        <div class="clearfix text-center m-t">
          <div class="inline">
            <div class="easypiechart" data-percent="75" data-line-width="5" data-bar-color="#4cc0c1" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="130" data-line-cap='butt' data-animate="1000">
              <div class="thumb-lg">
                <img src="images/avatar.jpg" class="img-circle">
              </div>
            </div>
            <div class="h4 m-t m-b-xs">John.Smith</div>
            <small class="text-muted m-b">Art director</small>
          </div>
        </div>
      </div>
      <footer class="panel-footer bg-info text-center">
        <div class="row pull-out">
          <div class="col-xs-4">
            <div class="padder-v">
              <span class="m-b-xs h3 block text-white">245</span>
              <small class="text-muted">Followers</small>
            </div>
          </div>
          <div class="col-xs-4 dk">
            <div class="padder-v">
              <span class="m-b-xs h3 block text-white">55</span>
              <small class="text-muted">Following</small>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="padder-v">
              <span class="m-b-xs h3 block text-white">2,035</span>
              <small class="text-muted">Tweets</small>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </div>
</div>
