<div class="panel-group m-b" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#contribution_selected">
                Contributions
                <span class="c-text-warning">(Selected)</span>
                <span class="badge bg-dark c-text-info">{{ contributions_selected.count }}</span>
            </a>
        </div>
        <div id="contribution_selected" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body text-sm">
                {% include 'contribution/list-common.html' with dynamic_variable=contributions_selected dynamic_datatable='dynamic_datatable1' %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
                href="#contribution_docs">
                Contributions
                <span class="c-text-warning">(Documents)</span>
                <span class="badge bg-dark c-text-info">{{ contributions_doc.count }}</span>
            </a>
        </div>
        <div id="contribution_docs" class="panel-collapse collapse">
            <div class="panel-body text-sm">
                {% include 'contribution/list-common.html' with dynamic_variable=contributions_doc dynamic_datatable='dynamic_datatable2' %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#contribution_images">
                Contributions
                <span class="c-text-warning">(Images)</span>
                <span class="badge bg-dark c-text-info">{{ contributions_img.count }}</span>
            </a>
        </div>
        <div id="contribution_images" class="panel-collapse collapse">
            <div class="panel-body text-sm">
                {% include 'contribution/list-common.html' with dynamic_variable=contributions_img dynamic_datatable='dynamic_datatable3' %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#contributions_uncommented">
                Contributions
                <span class="c-text-warning">(Without Comment)</span>
                <span class="badge bg-dark c-text-info">{{ uncommented_contributions.count }}</span>
            </a>
        </div>
        <div id="contributions_uncommented" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body text-sm">
                {% include 'contribution/list-common.html' with dynamic_variable=uncommented_contributions dynamic_datatable='dynamic_datatable4' %}
            </div>
        </div>
    </div>
</div>

<script>
$('#contributions_uncommented').on('shown.bs.collapse', function () {
    $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust();
});
$('#contribution_selected').on('shown.bs.collapse', function () {
    $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust();
});
$('#contribution_docs').on('shown.bs.collapse', function () {
    $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust();
});
$('#contribution_images').on('shown.bs.collapse', function () {
    $($.fn.dataTable.tables(true)).DataTable()
        .columns.adjust();
});
</script>