<section class="panel panel-default">
    <header class="panel-heading font-bold">Contribtions (All Time)
        {% if IT_contributions_all.count == 0 and CSE_contributions_all.count == 0 and SWE_contributions_all.count == 0 and EEE_contributions_all.count == 0 %}
        <span class="badge badge-warning pull-right c-text-warning">No Data Found !!!</span>
        {% endif %}
        {% if not contributions.count == 0 %}
        <span class="badge badge-dark pull-right c-text-dark">{{contributions.count}}</span>
        {% endif %}
    </header>
    <div class="text-center wrapper bg-light lt">
        <!-- <div class="sparkline inline" data-type="pie" data-height="165" data-slice-colors="['#77c587','#41586e','#f2f2f2']">45000,23200,15000</div> -->
        <div class="sparkline inline" data-type="pie" data-height="165"
            data-slice-colors="['#77c587','#41586e','#f2f2f2','#4CC0C1']">
            {{IT_contributions_all.count}},{{CSE_contributions_all.count}},{{SWE_contributions_all.count}},{{EEE_contributions_all.count}}
        </div>
    </div>
    <ul class="list-group no-radius">
        <li class="list-group-item">
            <span class="pull-right">{{IT_contributions_all.count}}</span>
            <span class="label bg-primary">1</span>
            IT
        </li>
        <li class="list-group-item">
            <span class="pull-right">{{CSE_contributions_all.count}}</span>
            <span class="label bg-dark">2</span>
            CSE
        </li>
        <li class="list-group-item">
            <span class="pull-right">{{SWE_contributions_all.count}}</span>
            <span class="label bg-light">3</span>
            SWE
        </li>
        <li class="list-group-item">
            <span class="pull-right">{{EEE_contributions_all.count}}</span>
            <span class="label bg-info">4</span>
            EEE
        </li>
    </ul>
</section>