{% load static %}
<ul class="nav navbar-nav hidden-xs">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle dker" data-toggle="dropdown">
            <i class="fa fa-building-o"></i>
            <span class="font-bold">Activity</span>
        </a>
        <section class="dropdown-menu aside-xl on animated fadeInLeft no-borders lt">
            <div class="wrapper lter m-t-n-xs">
                <a href="#" class="thumb pull-left m-r">
                    <img src="{% static 'images/raw/avatar/avatar.jpg' %}" class="img-circle">
                </a>
                <div class="clear">
                    <a href="#"><span class="text-white font-bold">@Mike Mcalidek</a></span>
                    <small class="block">Art Director</small>
                    <a href="#" class="btn btn-xs btn-success m-t-xs">Upgrade</a>
                </div>
            </div>
            <div class="row m-l-none m-r-none m-b-n-xs text-center">
                <div class="col-xs-4">
                    <div class="padder-v">
                        <span class="m-b-xs h4 block text-white">245</span>
                        <small class="text-muted">Followers</small>
                    </div>
                </div>
                <div class="col-xs-4 dk">
                    <div class="padder-v">
                        <span class="m-b-xs h4 block text-white">55</span>
                        <small class="text-muted">Likes</small>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="padder-v">
                        <span class="m-b-xs h4 block text-white">2,035</span>
                        <small class="text-muted">Photos</small>
                    </div>
                </div>
            </div>
        </section>
    </li>
    <li>
        <div class="m-t m-l">
            <a href="price.html" class="dropdown-toggle btn btn-xs btn-primary" title="Upgrade"><i class="fa fa-long-arrow-up"></i></a>
        </div>
    </li>
</ul>