{% load static %}
<a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
    <i class="fa fa-bell"></i>
    <span class="badge badge-sm up bg-danger m-l-n-sm count">
        {{notifications_unread}}
    </span>
</a>
<section class="dropdown-menu aside-xl" {% if notifications.count >= 5 %}id="notification"{% endif %}>
    <section class="panel bg-white">
        <header class="panel-heading b-light bg-light">
            <strong>
                You have 
                <span class="count c-text-primary">
                    {{notifications_unread}}
                </span>
                unread
                {% if notifications_unread >= 2 %}
                notifications
                {% else %}
                notification
                {% endif %}
            </strong>
        </header>
        {% if notifications.count >= 1 %}
        <footer class="panel-footer text-sm text-center">
            <a href="{% url 'utils:notification_list' %}">
                <i class="fa fa-list"></i> See all the notifications
            </a>
        </footer>
        {% endif %}
        <div class="list-group list-group-alt animated fadeInRight">
            {% for notification in notifications|slice:":5" %}
            <a href="{% url 'utils:notification_detail' slug=notification.slug %}" class="media list-group-item">
                <span class="media-body block m-b-none {% if notification.has_read == False %}font-bold c-text-primary{% endif %}">
                {{ notification.subject }}<br>
                    <small class="text-muted">
                        {{ notification.updated_at|timesince }} ago
                    </small>
                </span>
            </a>
            {% empty %}
            <span class="media-body block m-b-none m-t-sm m-b-sm c-text-warning text-center font-bold">
                No Notifications available!
            </span>
            {% endfor %}
        </div>
    </section>
</section>