<a href="#" class="dropdown-toggle dker" data-toggle="dropdown"><i class="fa fa-fw fa-search"></i></a>
<section class="dropdown-menu aside-xl animated fadeInUp">
    <section class="panel bg-white">
        <form role="search">
            <div class="form-group wrapper m-b-none">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </form>
    </section>
</section>