{% extends 'base.html' %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Document Category
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold text-center">Create Document Category</header>
            <div class="panel-body">
                <form class="form" method="POST">
                    {% csrf_token %}
                    {% include 'snippets/form.html' %}
                    <button type="submit" class="btn btn-sm btn-primary pull-left">Create</button>
                </form>
            </div>
        </section>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        {% include 'document-category/list.html' %}
    </div>
</div>

{% endblock %}