{% extends 'base.html' %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Delete Document Category
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <section class="panel panel-default">
            <header class="panel-heading font-bold text-center">
                Delete Document Category
                <strong class="text-lg c-text-info">
                    <i>{{object}}</i>
                </strong>
            </header>
            <div class="panel-body">
                <form class="form" method="POST">
                    <fieldset class="m-md">
                        <p class="text-danger text-center font-bold font-15">
                            Are you sure you want to delete Document Category
                            <strong class="text-lg c-text-info">
                                <i>{{object}}</i>
                            </strong> ?
                        </p>
                    </fieldset>
                    {% csrf_token %}
                    {% include 'snippets/form.html' %}
                    <button type="submit" class="btn btn-sm btn-primary pull-left">Confirm & Delete</button>
                </form>
                <a href="{% url 'contribution:document_category_create' %}" class="btn btn-xs btn-danger pull-right">
                    <i class="fa fa-mail-reply"></i> Cancel
                </a>
            </div>
        </section>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        {% include 'document-category/list.html' %}
    </div>
</div>

{% endblock %}