<div class="row">
    {% if not get_schedule == None %}
    {% if get_schedule.status == 0 %}
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 animated fadeInUp">
        {% include 'landing/pages/snippets/chunks/document.html' %}
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 animated fadeInUp">
        {% include 'landing/pages/snippets/chunks/image.html' %}
    </div>
    {% else %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 animated fadeInUp">
        {% include 'landing/pages/snippets/chunks/coming-slider.html' %}
    </div>
    {% endif %}
    {% endif %}
</div>

<!-- {% include 'landing/pages/snippets/chunks/slider-post.html' %} -->
{% include 'landing/pages/snippets/chunks/comment-list.html' %}
{% include 'landing/pages/snippets/chunks/comment-post.html' %}