<!DOCTYPE html>
<html lang="en" class="bg-dark">

<head>
  <!-- meta tags -->
  {% include "snippets/meta_tags.html" %}
  <title>
    {% block head_title %}magFetch{% endblock %} | magFetch Magazine Collection Management System |
  </title>
  <!-- css files -->
  {% include "snippets/css.html" %}
</head>

<body>
  <!-- development-notice -->
  {% include 'snippets/notice.html' %}
  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
    <div class="container aside-xxl">
      <a class="navbar-brand block" href="{% url 'home' %}">magFetch</a>
      <section class="panel panel-default bg-white m-t-lg">
        <header class="panel-heading text-center">
          <strong>
            {% block page_title %}{% endblock %}
          </strong>
        </header>
        <div class="panel-body wrapper-lg">
          <!-- messages -->
          {% include 'snippets/messages.html' %}
          <!-- main-content -->
          {% block content %}{% endblock %}
        </div>
      </section>
    </div>
  </section>

  <footer id="footer">
    <div class="text-center padder">
      <p>
        <small>
          Copyright © {% now "F Y" %} megFetch. All rights reserved. Developed by team
          <span class="text-primary">floppyFive</span>
        </small>
      </p>
    </div>
  </footer>

  <!-- javascript files -->
  {% include "snippets/js.html" %}

</body>

</html>
