{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% block page_title %}
{% trans "Logout" %}
{% endblock %}{% endblock %}

{% block content %}

<p>{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% include 'pages/account-form.html' %}
  <div class="col-sm-4 text-center">
    <button type="submit" class="btn btn-danger btn-sm">
      {% trans 'Logout' %}
    </button>
  </div>
</form>

{% endblock %}