{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{% trans "Password Reset" %}
{% endblock %}{% endblock %}Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="mt-2">
                    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}