{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{% trans "Change Password" %}
{% endblock %}{% endblock %}Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">{% trans "Change Password" %}</h5>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {% include 'snippets/form.html' %}
                    <button type="submit" name="action" class="btn btn-primary btn-sm">
                        {% trans "Change Password" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}