{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% block page_title %}{% block breadcrumb %}
{% trans "Change Password" %}
{% endblock %}{% endblock %}Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <p>{% trans 'Your password is now changed.' %}</p>
                <a href="{% url 'account_login' %}" class="btn btn-success btn-sm">
                    <i class="fa fa-location-arrow"></i> Login Now
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}