{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{% trans "Sign Up Closed" %}
{% endblock %}{% endblock %}Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">{% trans "Sign Up Closed" %}</h5>

                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}