{% extends "account/base.html" %}

{% block head_title %}{% block page_title %}
Sign up
{% endblock %}{% endblock %}

{% block content %}

  <form method="POST" action="{% url 'account_signup' %}" class="">
  {% csrf_token %}
    {% include 'pages/account-form.html' %}
    <a href="{% url 'account_reset_password' %}" class="pull-right m-t-xs"><small>Forgot password?</small></a>
    <button type="submit" class="btn btn-primary">Sign up</button>
    <div class="line line-dashed"></div>
    <p class="text-muted text-center"><small>Already have an account?</small></p>
    <a href="{{ login_url }}" class="btn btn-default btn-block">Sign in</a>
  </form>

{% endblock %}