{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
{% trans "Signup" %}
{% endblock %}{% endblock %}Page{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <p>{% blocktrans %}
          Already have an account? Then please
          <a href="{{ login_url }}">
            <i class="fa fa-location-arrow"></i> Login
          </a>
          {% endblocktrans%}
        </p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}

          {% include 'snippets/form.html' %}

          <div class="col-sm-12 text-right">
            <button class="btn btn-primary btn-sm" type="submit">
              <i class="fa fa-plus-circle"></i> {% trans "Sign Up" %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}