{% extends 'base.html' %}
{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Home Page
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

{{test}}

{% include 'pages/snippets/first-portion.html' %}

{% include 'pages/snippets/second-portion.html' %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <!-- {% if not get_announcement == None %} -->
        {% include 'pages/snippets/chunks/announcement.html' %}
        <!-- {% endif %} -->
    </div>
</div>

{% block extra_js %}
<script src="{% static 'js/charts/easypiechart/jquery.easy-pie-chart.js' %}"></script>
<script src="{% static 'js/charts/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.grow.js' %}"></script>
{% endblock %}

{% endblock %}