{% extends 'base.html' %}
{% load static %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Home Page
{% endblock %}{% endblock %}{% endblock %}

{% block content %}

<!-- YearPicker CSS -->
<link rel="stylesheet" href="{% static 'vendor/yearpicker/yearpicker.css' %}" type="text/css" />


{% include 'pages/snippets/first-portion.html' %}

{% if error == True %}

<div class="alert alert-warning text-center font-bold font-20" role="alert">
    Sorry, nothing found !!!
</div>

{% else %}

{% include 'pages/snippets/second-portion.html' %}

<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <!-- {% if not get_announcement == None %} -->
        {% include 'pages/snippets/chunks/announcement.html' %}
        <!-- {% endif %} -->
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        {% include 'pages/snippets/chunks/contributions_report.html' %}
    </div>

</div>

<!-- YearPicker JS -->
<script src="{% static 'vendor/yearpicker/yearpicker.js' %}"></script>
<script src="{% static 'vendor/yearpicker/yearpicker-config.js' %}"></script>

{% block extra_js %}
<!-- Charts JS -->
<script src="{% static 'js/charts/easypiechart/jquery.easy-pie-chart.js' %}"></script>
<script src="{% static 'js/charts/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/charts/flot/jquery.flot.grow.js' %}"></script>
{% endblock %}

{% endif %}

{% endblock %}