{% load static %}
<section class="panel panel-default">
    <div class="list-group no-radius alt">
        {% if not is_ST %}
        <p class="list-group-item" href="#">
            <span class="thumb-sm avatar">
                <img src="{% static 'images/raw/avatar/avatar.jpg' %}">
            </span>
            {{object.user.get_smallname}}
        </p>
        {% endif %}
        {% if is_MM %}
        <p class="list-group-item" href="#">
            <span class="badge bg-info">{{object.user.faculty}}</span>
            Faculty
        </p>
        {% endif %}
        <p class="list-group-item" href="#">
            <span class="badge bg-light">{{object.title}}</span>
            Title
        </p>
        <p class="list-group-item" href="#">
            <span class="badge bg-light">{{object.category}}</span>
            Category
        </p>
        <p class="list-group-item" href="#">
            {% if object.is_selected == True %}
            <span class="badge bg-success">
                {{object.get_selection_status}}
            </span>
            {% else %}
            <span class="badge bg-danger">
                {{object.get_selection_status}}
            </span>
            {% endif %}
            Selection Status
        </p>
        <p class="list-group-item" href="#">
            <span class="badge bg-light">{{object.created_at}}</span>
            Uploaded at
        </p>
        <p class="list-group-item" href="#">
            <span class="badge bg-light">{{object.category.get_file_type}}</span>
            File Type
        </p>
        <p class="list-group-item" href="#">
            <span class="badge bg-light">{{object.file.size|filesizeformat}}</span>
            File Size
        </p>
        <p class="list-group-item" href="#">
            <span class="badge bg-light">{{object.get_file_extension}}</span>
            File Extension
        </p>
    </div>
</section>