<div class="panel-group m-b" id="accordion2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Criteria
            </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body text-sm">
                <ul class="text-dark">
                    <li>
                        Schedule cannot be added or updated on month <strong>December</strong>.
                    </li>
                    <li>
                        Differance between Start Date and Closure Date must be at least <strong>15 days</strong>.
                    </li>
                    <li>
                        Differance between Closure Date and Final Closure Date must be at least <strong>3 days</strong>.
                    </li>
                    <li>
                        Cannot add Schedule for <strong>Next or Previous</strong> year.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                How it Works?
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body text-sm">
              <ul>
                <li>
                  <strong>Start Date: </strong>
                  Students will be able to upload their contributions for magazine after the defined Start Date
                </li>
                <li>
                  <strong>Closure Date: </strong>
                  Students will not be able to upload new contributions after the defined Closure Date but they can modify the contributions.
                </li>
                <li>
                  <strong>Final Closure Date: </strong>
                  Students will not be able to modify the contributions after the defined Final Closure Date.
                </li>
                <li>
                  <strong>Publication Status: </strong>
                  Students will not be able to upload or modify contribution if the Publication Status is <strong>Unpublished</strong>.
                  Setting Publication Status to <strong>Published</strong> will enable contribution collection system working.
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
